body {
    background-color: rgb(190, 190, 144);
  }
  
  h1 {
    color:green;
    text-align:center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  a{
    color:green;

  }

  h3{
   font-size: 50px;
   color: black;
   text-align: center;



  }
  header, h2, footer {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  ul{
   color:green;
   font-style: bold;

  }
  p{
    color:black;
  }

  h4{
   color: green;
   text-align:center;
   font-size:30px;

  }

  h5{
    color:aliceblue;
    text-align:left;
    font-size:10px;


  }

  button{

   background-color: green;
   color:white;
   text-align: center;

  }

  input[type=text] {
    color:white;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email] {
    color:white;
    width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }

  input[type=tel] {
    color:white;
    width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    color:white;
    width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    caption-side: top;
    font-weight: bold;
}
