<nav>
    <a href="https://webpages.charlotte.edu/mmeem/">Charlotte.edu</a>
    ||
    <a href="https://github.com/maisha1209">Github</a>
    ||
    <a href="https://maisha1209.github.io/">Github.io</a>
    ||
    <a href="https://maisha1209.github.io/">ITIS 3135 Github Pages</a>
    ||
    <a href="https://www.freecodecamp.org/maisha1209">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/maisha1209">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/maisha-alam-659542266/">LinkedIn</a>









</nav>
<p>Page Built By <a href="maishaalamenterprises.org/">Maisha's Majestic Mouse</a>&copy; 2023</p>




<a href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px"
    src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_
    HTML5_certified.png" alt="Valid HTML!">
    </a>
   
   
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
    src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
    CSS!">
    </a>
